* {
    box-sizing: border-box;
}
/*
    MAIN
*/

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    background-image: url(assets/paper.jpg);

    display: flex;
    flex-direction: row;
}

.border-box {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.resized-body {
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1080px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    TITLE
*/

#title-bar {
    width: 100vw;
    
    flex-grow: 0;

    display: flex;
    align-content: center;
    justify-content: center;
}

#main-title {
    font-size: 48px;
    font-weight: normal;
    font-family: MrsEavesSmallCaps;
    color: #58170D;
    margin: 2px;
}

.body-seperator {
    margin-top: 2px;
    height: 1px;
    width: 95vw;
    background-color: #58170D;
}

/*
    BODY
*/


#main-body {
    max-height: 100vh;
    width: 100%;
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#upper-main-body{
    flex-basis: 66%;
    display: flex;
}

#lower-main-body {
    flex-basis: 33%;
    display: flex;
}

.body-part {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-size: 24px;
    text-align: justify;
    color: #252525;
    padding: 60px;
    font-family: Bookmania;
}

.main-text::first-line {
    font-variant: small-caps;
}

.main-text::first-letter {
    font-family: SolberaImitation;
    float: left;
    font-size: 116px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.body-image {

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

.body-image > img {
    max-width: 100%;
}

/*
    CARD
*/

.card {
    height: 90%;
    width: 270px;
    margin: 10px;
    overflow: hidden;

    background-image: url(assets/paper2.jpg);
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 7px 7px 14px #252525;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(255,255,255,0);
    transition: 0.3s;
}

.about {
    background-image: url(assets/about.png);
}

.events {
    background-image: url(assets/events.png);
}

.gallery {
    background-image: url(assets/gallery.png);
}

.newsletter {
    background-image: url(assets/newsletter.png);
}

.card .card-title {
    font-size: 36px;
    color: #58170D;
    font-family: MrsEavesSmallCaps;

    margin: 5px;
    text-align: center;
}

.card .card-body {
    opacity: 0;
    height: 0px;
    padding: 15px;

    color: black;
    font-family: Bookmania;
    text-align: justify;
   

    transition: 0.3s;
}

.card-main > .body-seperator {
    width: 94%;
    margin-left: 3%;
    visibility: hidden;
}

.card:hover .body-seperator {
    visibility: visible;
}

.card .card-main {
    background-color: rgba(255,255,255,0);
    transition: 0.3s;
}

.card:hover .card-main {
    background-color: rgba(255,255,255,1);
    background-image: url(assets/paper2.jpg);
    transition: 0.3s;
}

.card:hover .card-body {
    opacity: 1;
    visibility: visible;
    height: 148px;
    transition: 0.3s;
}

/*
    TRANSITION
*/

.transition-layer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

.transition-layer .bg-layer {
    position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-2%);
		height: 100%;
		width: 2500%;
		background: url(assets/ink.png) no-repeat 0 0;
		background-size: 100% 100%;
}

.transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.transition-layer.opening .bg-layer {
    animation: transition-sequence .8s steps(24);
	animation-fill-mode: forwards;
}

.transition-layer.closing .bg-layer {
    animation: transition-sequence-reverse .8s steps(24);
	animation-fill-mode: forwards;
}

@keyframes transition-sequence {
	0% {
		transform: translateY(-50%) translateX(-2%);
	}
	100% {
   		transform: translateY(-50%) translateX(-98%);
	}
}

@keyframes transition-sequence-reverse {
	0% {
		transform: translateY(-50%) translateX(-98%);
	}
	100% {
   		transform: translateY(-50%) translateX(-2%);
	}
}

/*
    MODAL
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;

    background-blend-mode: darken;
    background-image: url(assets/paper.jpg);
    background-color: rgba(0,0,0,0.9);
    

    background-size: cover;
    background-position: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    color: white;

    display: flex;
    flex-direction: row;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
}

.modal .resized-body {
    display: flex;
    flex-direction: column;
}

.modal .modal-title-bar {
    width: 100%;
    position: relative;

    font-size: 48px;
    font-weight: normal;
    font-family: MrsEavesSmallCaps;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.modal .modal-title {
    text-align: center;
    flex-grow: 1;
    margin-left: auto;
}

.modal .modal-title-bar .modal-close-button {
    cursor: pointer;
    position: absolute;
    right: 0;

}

.modal .modal-title-bar .modal-close-button .material-icons{
    font-size: 64px;
}

.modal .body-seperator {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.modal .modal-body {
    flex-grow: 1;
}

.modal .main-text {
    color: white;
}