* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    background-image: url(assets/paper.jpg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-bar {
    height: 60px;
    width: 100vw;
    
    flex-grow: 0;

    display: flex;
    align-content: center;
    justify-content: center;
}

#main-title {
    font-size: 48px;
    font-weight: normal;
    font-family: MrsEavesSmallCaps;
    color: #58170D;
}

.body-seperator {
    margin-top: 2px;
    height: 1px;
    width: 95vw;
    background-color: #58170D;
}


#main-body {
    max-height: 100vh;
    width: 100vw;
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#upper-main-body{
    flex-basis: 66%;
    display: flex;
}

#lower-main-body {
    flex-basis: 33%;
    display: flex;
}

.body-part {
    flex: 1;
    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-size: 24px;
    text-align: justify;
    color: #252525;
    padding: 60px;
    font-family: Bookmania;
}

.main-text::first-line {
    font-variant: small-caps;
}

.main-text::first-letter {
    font-family: SolberaImitation;
    float: left;
    font-size: 116px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.body-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-image > img {
    height: 100px;
    width: auto;
}